services:
  mongodb:
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - ./data:/data/db
  backend:
    image: silverkir/diploma-backend:v1.0.5
    volumes:
      - ./uploads/images:/uploads/images
    environment:
      - PORT=3031
      - DATABASE_URL=mongodb://mongodb:27017/hotel_reservaton
      - SECRET=
      - UPLOAD_LOCATION=./uploads/images
      - MAX_FILE_SIZE=10485760
      - SEPARATOR=5
      - ADMIN_EMAIL=
      - ADMIN_PASSWORD=
    ports:
      - 3031:3031
    depends_on:
      - mongodb
  front:
    image: silverkir/diploma-front:v1.0.6
    environment:
      - PORT=80
    ports:
      - 80:80
    depends_on:
      - backend
