.images-wrap {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
}
.room-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  gap: 20px;
  width: 100%;
}

.hotel-room-image {
  text-align: center;
  width: 300px;
  height: 250px;
  line-height: 250px;
  border-radius: 8px;
  background-color: gray;
  color: white;
}
.info-button {
  width: 150px;
}
.button-wrap {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
