.login-select {
  border: none;
  width: 18px;
  color: #8a92a6;
}

.select-button {
  margin-right: 5px;
  border: none;
  background-color: white;
  color: #8a92a6;
}

.select-button:hover {
  cursor: pointer;
}

.select-module {
  display: flex;
}

.header-block {
  margin-left: 20px;
  background-color: white;
  width: 100%;
  border-radius: 8px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
