.form-wrap {
  margin-top: 20px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
}

.name-title {
  font-size: 2em;
}
.table-wrap {
  margin-top: 10px;
  width: 100%;
}
.title-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

tr:nth-child(even) {
  background-color: rgb(223, 231, 231);
}
